content/xml/sponsorpayments.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="payments" type="paymentsType"/>
  <xs:complexType name="paymentType">
    <xs:sequence>
      <xs:element type="xs:short" name="paymentRefNo"/>
      <xs:element type="xs:byte" name="userid"/>
      <xs:element type="xs:short" name="amount"/>
      <xs:element type="xs:string" name="donated_date"/>
      <xs:element type="xs:string" name="pan_number"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paymentsType">
    <xs:sequence>
      <xs:element type="paymentType" name="payment" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

